:root {
  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 94%);
  --very-dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);

  --fw-regular: 400;
  --fw-bold: 700;

  --ff-base: 'Kumbh Sans', sans-serif;

  --fs-300: .90rem;
  --fs-350: .95rem;
  --fs-400: 1rem;
  --fs-700: 1.8rem;
  --fs-900: 2.7rem;
}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.7;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

ul {
  list-style: none;
  padding: 0;
}

body {
  font-family: var(--ff-base);
  font-weight: var(--fw-regular);
  font-size: var(--fs-400);
  color: var(--dark-grayish-blue);
}

header {
  margin-block: 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  div {
    display: flex;
    align-items: center;
    gap: 3.5rem;
  }

  ul {
    display: flex;
    gap: 2rem;
  }

  a {
    text-decoration: none;
    color: var(--dark-grayish-blue);
    font-size: var(--fs-350);

    &:hover,
    &:focus-visible {
      color: var(--orange);
    }
  }

  img {
    max-height: 48px;
  }
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.two-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-around;
  align-items: center;
  gap: 3rem;

  margin-inline: 1rem;
}

.flex-group {
  display: flex;
  gap: 1rem;
}

.product__gallery > img {
  margin-block-end: 1rem;
  border-radius: 1rem;
}

.product__gallery__thumbnails {
  display: flex;
  gap: 1rem;

  button {
    background: transparent;
    border: 0;
    border-radius: .5rem;
    overflow: hidden;
    padding: 0;
    cursor: pointer;
  }
}

.product__manufacturer {
  text-transform: uppercase;
  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
  letter-spacing: .07em;
}

.product__title {
  color: var(--very-dark-blue);
  font-size: var(--fs-900);
}

.product__price {
  color: var(--very-dark-blue);
  font-weight: var(--fw-bold);
  font-size: var(--fs-700);
}

.product__discount {
  background-color: var(--very-dark-blue);
  border-radius: .3rem;
  color: white;
  font-weight: var(--fw-bold);
  padding: .02em .7em;

  align-self: center;
}

.product__original-price {
  font-weight: var(--fw-bold);
}

.product__amount-selector {
  background-color: var(--light-grayish-blue);
  border-radius: .7rem;
  overflow: hidden;

  gap: 2rem;

  p {
    align-self: center;
    font-weight: var(--fw-bold);
  }

  button {
    background: transparent;
    border: 0;
    cursor: pointer;
    padding: .9em;

    &:hover,
    &:focus-visible {
      background: var(--very-dark-blue);
    }
  }
}

.buy-button {
  border: 0;
  border-radius: .7rem;
  background-color: var(--orange);
  color: var(--very-dark-blue);
  font-weight: var(--fw-bold);
  padding: .9em 4.8em;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 1rem;

  &:hover,
  &:focus-visible {
    background-color: var(--very-dark-blue);
    color: white;
  }

  &::before {
    content: '';
    display: inline-block;
    height: 16px;
    width: 18px;
    background: no-repeat center url("../images/icon-cart.svg");
    background-size: cover;
  }
}
